section
    .chat-settings
        a(href="auth.pug").link.registration__button Выйти
        a(href="lk.pug").link.registration__button Личный кабинет
    div.chat-wrapper
        ul.chat-list
            include ./chat-list
            include ./chat-list
            include ./chat-list
        include ./chat-field
