doctype html
html(lang='ru')
    head
        title MyPage
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
    body
        script(src='../index.js' type='module')
        div#root
            block helper-blocks
            main.main.container
                block content